{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ instance.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no" />    
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}cartoview/img/icon.png" />
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
</script>

   <style>
        html,body {
            height: 100%;
            margin: 0px;
            overflow: hidden
        }
        #root{
            height: 100%
        }
    </style>
       <link rel="stylesheet" href="https://openlayers.org/en/v4.5.0/css/ol.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.4.4/proj4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.3.4/ol-debug.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.3.4/ol.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.3.4/ol.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.3.4/ol-debug.css" />
</head>
<body>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</script>
<div style="height: 100%;" id="root"></div>
<script type="text/javascript">
    {% if instance %}
            const instanceId= {{ instance.id }}
            {% if PROXY_URL %}
                const PROXY_URL='{{PROXY_URL}}'
            {% else %}
                const PROXY_URL=null
            {% endif %}
            
            const urls={

                proxy: PROXY_URL,
                appInstance: "{% url 'api_dispatch_detail' api_name='api' resource_name='appinstances' pk=instance.id %}",
                geoserverUrl : "{{ GEOSERVER_BASE_URL }}",
                {% if 'access_token' in request.session %}
                    wfsURL : "{{ GEOSERVER_BASE_URL }}wfs?access_token={{request.session.access_token}}",
                    {% else %}
                    wfsURL : "{{ GEOSERVER_BASE_URL }}wfs",
                {% endif %}
                static: "{{ STATIC_URL }}",
                media: "{{ MEDIA_URL }}",
                layerAttributes:"{% url 'app_manager_base_url' %}rest/app_manager/geonodelayerattribute/",
                rest: "{% url 'app_manager_base_url' %}rest/app_manager/",
                geonodeRest: "{% url 'api_api_top_level' 'api' %}",
                attachmentUploadUrl:function(layerName){
                    return '{{SITEURL}}apps/cartoview_attachment_manager/'+layerName+'/file'
                },
                commentsUploadUrl:function(layerName){
                    return '{{SITEURL}}apps/cartoview_attachment_manager/'+layerName+'/comment'
                },
                appInstancesPage:"{% url 'appinstance_browse' %}?app__name={{instance.app.name}}&app__title={{instance.app.title}}",
                layers: "{% url 'layer_browse' %}",
                maps: "{% url 'maps_browse' %}",
                apps: "{% url 'app_manager_base_url' %}",
                viewURL: "{% url "cartoview_storymap.view" instance_id=instance.id %}",
                appLogo:'{% static 'cartoview_storymap/logo.png' %}'
            ,
            describeFeatureType: function(typename){
              {% if 'access_token' in request.session %}
              return "{{ GEOSERVER_BASE_URL }}wfs?service=wfs&version=2.0.0&request=DescribeFeatureType&typeName="+typename+"&outputFormat=application/json&access_token={{request.session.access_token}}"
              {% else %}
              return "{{ GEOSERVER_BASE_URL }}wfs?service=wfs&version=2.0.0&request=DescribeFeatureType&typeName="+typename+"&outputFormat=application/json"
  
              {% endif %}
            }}
    {% endif %}

    const props = {{ instance.config | safe }}
    const loggedUser="{{request.user.username}}"
    const owner="{{instance.owner.username}}"
    const layerTitle="{{instance.title}}"
    const trimmed_layername=layerTitle.replace(/[&#39; , - : & ! * ( ) + ^ $ # @ ~ " % ']+/g, "_")
    console.log(trimmed_layername)
    props.formTitle="{{instance.title}}".replace(/[&#39;]+/g, "'")


    props.layername="geonode:"+trimmed_layername+"_"+"{{app}}"
    props.layer=trimmed_layername+"_"+"{{app}}"
    console.log(props.layername)
    props.formAbstract="{{instance.abstract}}"
    props.username="{{request.user.username}}"
  </script>
  
<script src="{% static 'cartoview_storymap/dist/FeatureList.bundle.js?version=2' %}"></script>

    <script  type="text/javascript">
     CartoviewFeatureList.show('root', props,urls);
    </script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script>
  var scrollPosition = 0;
$('div#contents').scroll(function() {
  scrollPosition = $(this).scrollTop();
});
$('div#contents').scroll(function() {
            if ($(this).scrollTop() >= areaTop && $(this).scrollTop() < areaBottom) {
              $('.image-container').removeClass("inFocus").addClass("outFocus");
              $('div#container' + feature.properties['id']).addClass("inFocus").removeClass("outFocus");
console.log("scrollunggg")
            //   map.flyTo([feature.geometry.coordinates[1], feature.geometry.coordinates[0] ], feature.properties['zoom']);
            }
          });
  </script>
</body>
</html>
